# Service
SERVICE_NAME=order-service
DEBUG=true

# HTTP Server
HOST=0.0.0.0
PORT=8000

# Database
DATABASE_URL=

# Capashino Services
CAPASHINO_BASE_URL=
CAPASHINO_API_KEY=

# Internal callback URL (for Kubernetes)
INTERNAL_HOSTNAME=

# Kafka
KAFKA_BOOTSTRAP_SERVERS=